/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #EEE;
  color: #444;
/*  font: 19px Georgia, Times, serif;*/

font: 20px "Times New Roman", Times, serif;

/*  font-size: large; */
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; margin-top: 1em; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

blockquote { font-family:Times;
             padding-left:50px;
             font-size:75%;
             line-height: 1.5em;
             border: 1px solid #c0c0c0;
           }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: left;
  width: 33em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  font-size: 75%;
  line-height: 115%;
/*  border: 1px solid #ddd; */
  font-weight: bold;
}

figure.highlight {
  background-color: #eef;
  margin: 0 0 1em 0;
}  

figure.highlight pre code {
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #666;
  padding: 1px 0px 5px 5px
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #c0c0c0;
  background-color: #e0e0ff;
  font-weight: bold;
  font-family: Consolas, Monaco, "Courier New", monospace;
  white-space: pre;
}

/* a code block indented by 4 generates <div class="highlighter-rouge"><pre class="highlight"><code>
   which we use as a terminal view.

   The formatted code blocks follow another pattern: <figure class="highlight"><pre><code="language-java">
  
*/

div.highlighter-rouge pre code {
 overflow-x: auto;
 overflow-y: hidden;
 background-color: black;
 color: #D0D0D0;
 padding: 1px 0px 5px 5px;
 border-radius: 5px;
}

.post pre code {
  display: block;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post table td {
  border: 1px solid black;
  padding: 1px 5px 1px 5px;
}

.post table td.noborder {
  border: 0px;
  padding: 1px 5px 1px 5px;
}

.post table {
  width:100%
}

.post th {
  border: 2px solid black;
  padding: 5px;
  background-color: #C0C0C0;
}

.post table.numeric {
  border-collapse: collapse;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

table.numeric td {
  text-align: right;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

table.numeric td.label {
  text-align: left;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

table.numeric td.ttext {
  font-weight: normal;
  text-align: left;
  font-family: inherit
}

tr.even {
 background-color: #DDD;
}

tr.odd {
 background-color: #E8E8E8;
}

td.h {
 background-color: #80FF80;
} 

td.e {
 background-color: #FFFF80;
} 

.post table.matrix {
  border-collapse: collapse;
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 1.0em;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: auto;
}

.post table.matrix tr {
  line-height: 1em;
}

.post table.matrix td {
  border-left: 1px solid #D0D0D0;
  border-right: 1px solid #D0D0D0;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  text-align: centre;
  vertical-align: middle;
  height: 1.5em;
   width: 1.5em;
}

.post table.matrix td.mlabel {
  border: none;
  border-collapse: separate;
}

.post table.matrix td.l {
  border-left: 1px solid #303030;
}

.post table.matrix td.r {
  border-right: 1px solid #303030;
}

table.bigmatrix {
  border-collapse: collapse;
  font-family: Consolas, Monaco, "Courier New", monospace;
  margin: auto;
  width: auto;
}

table.grid {
  border-collapse: collapse;
  font-family: Consolas, Monaco, "Courier New", monospace;
  width: auto;
}

table.bigmatrix td {
  border: 1px solid #303030;
  position: relative;
  padding: 0;
}

table.grid td {
  font-size: 0.75em;
  line-height: 0.75em;
  border: 1px solid #D0D0D0;
  height: 0.75em;
  min-width: 0.75em;
}

table.grid td:last-child {
  border-right: none;
}

table.grid td:first-child {
  border-left: none;
}

table.grid tr:first-child td {
  border-top: none;
}

table.grid tr:last-child td {
  border-bottom: none;
}

table.bigmatrix div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

table.squaregrid {
  border-collapse: collapse;
  font-family: Consolas, Monaco, "Courier New", monospace;
  text-align: center;
  line-height: 1em;
  margin: auto;
  width: auto;
  align: center;
}

table.squaregrid th.legend {
  text-align: centre;
  padding: 0.1em;
  border: 0px;
  background-color: inherit;
}

table.squaregrid th.header {
  text-align: right;
  padding: 0.1em;
}

table.squaregrid td {
  border: 1px solid grey;
  padding: 0.1em;
}



/*****************************************************************************/

button {
   padding: 0 10px 0 10px;
}

/*****************************************************************************/
/*
/* Formulas
/*
/*****************************************************************************/


.formula          { margin-top: 1em; margin-bottom: 1em; margin-left: 5em; }
.formula .denom   { border-top: none }
.formula .num     { border-bottom: 1px solid black }
.big              { font-size: 2em ; vertical-align: middle; }
s                 { margin-left: -0.25em }
.formula          { font-family: "Times New Roman", Times, serif; }
.formula table    { border-spacing: 0; border-style: none; width: auto;}
.formula table td { text-align: center; vertical-align: middle; border-style: none; border-width: 0;   padding: 0;}
.formula table td.left { text-align: left; vertical-align: middle; border-style: none; border-width: 0;   padding: 0;}
.formula table td.space { text-align: left; vertical-align: middle; border-style: none; border-width: 0; padding-right: 2em;}

/*****************************************************************************/
/*
/* Colours
/*
/*****************************************************************************/

.C0  {background-color: black;   color:white;}
.C1  {background-color: maroon;  color:white;}
.C2  {background-color: green;   color:white;}
.C3  {background-color: olive;   color:white;}
.C4  {background-color: navy;    color:white;}
.C5  {background-color: purple;  color:white;}
.C6  {background-color: teal;    color:white;}
.C7  {background-color: silver;  color:black;}
.C8  {background-color: gray;    color:white;}
.C9  {background-color: red;     color:black;}
.C10 {background-color: lime;    color:black;}
.C11 {background-color: yellow;  color:black;}
.C12 {background-color: blue;    color:white;}
.C13 {background-color: fuchsia; color:black;}
.C14 {background-color: aqua;    color:black;}
.C15 {background-color: white;   color:black;}
