/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #EEE;
  color: #444;
  font: 19px Georgia, Times, serif;
/*  font-size: large; */
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; margin-top: 1em; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

p.quoute {font-family:Times;padding-left:100px;}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
/*  font-family: Monaco, "Courier New", monospace;*/
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
/*  font-size: 115%; */
  text-align: left;
  width: 35em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  font-size: 75%;
  line-height: 115%;
  border: 1px solid #ddd;
/*  background-color: #eef;*/
  font-weight: bold;
}

.highlight {
  background-color: #eef;
/*  margin: 0 -6em 1em 0;*/
  margin: 0 0 1em 0;
  overflow-x: auto;
  overflow-y: hidden;
}  

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-weight: bold;
  font-family: Consolas, "Courier New", monospace;
}

code.language-text {
 background-color: black;
 color: #D0D0D0;
 padding: 5px;
 border-radius: 5px;
}

.post pre code {
  border: none;
  display: block;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post table td {
  border: 1px solid black;
  padding: 5px;
}
